@import "tailwindcss";

body {
  background: linear-gradient(145deg, #0A0D1F, #15172A);
  background-attachment: fixed;
}
@layer base {
  .leaflet-popup-content {
    max-width: 180px !important;
    min-width: 160px;
    white-space: normal !important;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 1.3;
  }

  .leaflet-popup-content-wrapper {
    padding: 10px 12px !important;
  }

  .leaflet-popup-tip {
    width: 12px;
    height: 12px;
  }
}

